html, body {
    overflow: hidden;
    background-color: black;
}
.collapsed {
    height: 0%!important;
    opacity: 0%!important;
    pointer-events: none;
    padding: 0px!important;
    margin: 0px!important
}
.eon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.eon-collapsed {
    height: 7%!important;
}
.eon-collapsed .eon-title {
    font-size: 3vh;
}
.eon-collapsed .eon-time {
    opacity: 0;
    height: 0%;
    pointer-events: none;
}
.eon-collapsed .eon-summary {
    opacity: 0;
    height: 0;
    pointer-events: none;
}
.eon-expanded {
    height: calc(95vh - 21%)!important;
}
.eon-expanded .eon-summary {
    opacity: 1;
}
.eon-expanded .eon-title {
    font-size: 4vh;
}
.eon-expanded .eon-time {
    opacity: 1;
}
.eon-expanded .era-container {
    opacity: 1;
    pointer-events: auto!important;
}
.eon-summary {
    color: white;
    text-align: center;
    font-size: 2vh;
    background-color: #006C65;
    width: 90%;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    height: 15%;
    opacity: 0;
    padding: 1vh;
    margin-top: 1vh;
    overflow: hidden;
    transition: 1s;
}
.eon-time {
    color: white;
    font-size: 2vh;
    opacity: 1;
    text-align: center;
    pointer-events: auto;
    transition: 1s;
}
.eon-title {
    color: white;
    font-size: 3.5vh;
    text-align: center;
    padding-top: 1vh;
    transition: 1s;
}
.era {
    display: flex;
    flex-direction: column;
    transition: 1s;
    align-items: center;
}
.era-collapsed {
    height: 8%!important;
}
.era-collapsed .era-time {
    height: 0%!important;
    opacity: 0;
}
.era-collapsed .era-summary {
    height: 0%!important;
    opacity: 0;
}
.era-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 65.5%!important;
    opacity: 0;
    margin-top: 1vh;
    transition: 1s;
    pointer-events: none;
}
.era-container-expanded {
    height: 81%!important;
}
.era-expanded {
    height: 80%!important;
}
.era-expanded .era-summary {
    opacity: 1;
}
.era-expanded .period-container {
    opacity: 1;
    pointer-events: auto!important;
}
.era-summary {
    color: white;
    font-size: 1.5vh;
    background-color: #006C65;
    width: 90%;
    border-radius: .8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 15%;
    opacity: 0;
    transition: 1s;
    padding: 1vh;
    margin-top: 1vh;
    overflow: hidden;
}
.era-time {
    color: white;
    font-size: 1.5vh;
    text-align: center;
}
.era-title {
    color: white;
    font-size: 3vh;
    text-align: center;
}
.period {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    min-height: 12%!important;
}
.period-collapsed {
    height: 12%!important;
}
.period-collapsed .period-title {
    font-size: 2.5vh!important; /* Kludge for quaternary */
}
.period-collapsed .period-time {
    height: 0%!important;
    opacity: 0;
}
.period-collapsed .period-summary {
    height: 0%!important;
    opacity: 0;
}
.period-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 62.5%!important;
    opacity: 0;
    margin-top: 1vh;
    transition: 1s;
    pointer-events: none;
}
.period-container-expanded {
    height: 79%!important;
}
.period-expanded {
    height: 80%!important;
}
.period-expanded .period-summary {
    opacity: 1;
}
.period-expanded .period-title {
    font-size: 2.8vh!important;
}
.period-expanded .period-time {
    font-size: 1.3vh!important; /* Kludge for quaternary */
}
.period-summary {
    color: white;
    font-size: 1.5vh;
    background-color: #006C65;
    width: 90%;
    border-radius: .8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;
    opacity: 0;
    transition: 1s;
    padding: 1vh;
    margin-top: 1vh;
    overflow: hidden;
}
.period-time {
    color: white;
    font-size: 1.3vh;
    text-align: center;
    transition: 1s;
}
.period-title {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    transition: 1s;
}

#archean {
    height: 33.5%;
    background-color: #0076BA;
}
#eonContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}
#hadean {
    height: 11.7%;
    background-color: #004D80;
}
#hadeanEras {
    display: none;
}
#phanerozoic {
    height: 11.8%;
    background-color: #56C1FF;
}
#proterozoic {
    height: 42.9%;
    background-color: #00A2FF;
}
#toolbar {
    width: 100vw;
    height: 5vh;
    background-color: gray;
}